@import './element/index.scss';
@import './variables.scss';

@font-face {
  font-family: '阿里巴巴普惠体 2.0 55 Regular';
  font-weight: 400;
  src: url('../assets/font/alibaba.woff2'), url('../assets/font/alibaba.woff');
  font-display: swap;
  font-size: $--font-size;
}

html {
  height: 100%;

  @include scrollbar;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: '阿里巴巴普惠体 2.0 55 Regular', 'Helvetica Neue', Helvetica, 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
