/* Variables */

$--menu-width: 240px;

$--theme-color:#fa541c;

$--font-size:14px;

$--border:1px solid #e6e6e6;

// The :export directive is the magic sauce for webpack
// https://mattferderer.com/use-sass-variables-in-typescript-and-javascript
:export {
  menuWidth: $--menu-width;
  themeColor: $--theme-color;
}
