/* Variables */

$--menu-width: 240px;

$--collapse-width: 64px;

$--theme-color: #7e9cff;

$--border-color: #e6e6e6;

$--font-size: 14px;

// The :export directive is the magic sauce for webpack
// https://mattferderer.com/use-sass-variables-in-typescript-and-javascript
:export {
  menuWidth: $--menu-width;
  themeColor: $--theme-color;
  collapseWidth: $--collapse-width;
  borderColor: $--border-color;
}

@import './mixin.scss';
